@import "tailwindcss";

@font-face {
  font-family: "TT Tsars";
  src: url("/media/tt_tsars/TT%20Tsars%20A%20Trial%20Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Tsars";
  src: url("/media/tt_tsars/TT%20Tsars%20A%20Trial%20Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Tsars";
  src: url("/media/tt_tsars/TT%20Tsars%20A%20Trial%20Black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #050505;
  --foreground: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "TT Tsars", system-ui, sans-serif;
}

.article-content a {
  text-decoration: underline;
  color: inherit;
  transition: opacity 0.2s;
}

.article-content a:hover {
  opacity: 0.8;
}
